body {
  margin: 0;
  padding: 0;
  background-image: url("https://i.ytimg.com/vi/UNOmaFs6KaY/maxresdefault.jpg");
  color: lime;
}

h1 {
  text-align: center;
}

.gameTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.spaceshipImg {
  width: 5%;
  margin: 0 25px;
}

.gameHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid white;
  margin-bottom: 30px;
}

.playerOneHeader {
  text-align: center;
  border-right: solid white;
  vertical-align: middle;
  width: 35%;
}

.playerOneName {
  font-size: 30px;
  font-weight: bold;
}

.roundHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  width: 25%;
  line-height: 30px;
}

.playerTwoHeader {
  text-align: center;
  vertical-align: middle;
  border-left: solid white;
  width: 35%;
}

.gameStage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  margin: 50px 0;
}

.gameHeader {
  margin: 0 auto;
  width: 75%;
  background-color: black;
}
.playerOne {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerOneImg {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 75%;
  height: 60%;
  border: solid white;
}

.playerTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.playerTwoImg {
  height: 100%;
  width: 100%;
}

.alien {
  width: 75%;
  height: 60%;
  border: solid white;
}

.gameStage {
  width: 75%;
  height: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: solid white;
}

.gameFeed {
  text-align: center;
  background-color: black;
  border: solid lime;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 30px auto;
}

.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  width: 50%;
  border-right: dashed lime;
}

.controls {
  margin: auto;
}

button {
  margin: 0 15px;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  filter: invert(100%);
  transform: scale(1.3);
}
.attack {
  background-color: red;
  border: solid turquoise;
  color: white;
}

.retreat {
  background-color: white;
  color: black;
  border: solid turquoise;
}

.reset {
  background-color: green;
  border: solid turquoise;
  color: white;
}

.restart {
  background-color: lime;
  border: solid black;
  color: black;
  margin-top: 20px;
}

.gameOver {
  text-align: center;
  background-color: darkgray;
  color: black;
  padding: 25px;
  margin: 25px auto;
  width: 50%;
}

.hide {
  display: none;
}
